@import "tailwindcss";

body {
  min-height: 100vh;
  background-color: #fcfcfc;
  /* background: linear-gradient(to bottom, #c7c5c5, #589e8b); */
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

/* Customize scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #6e9e74; /* Background of the track */
}

::-webkit-scrollbar-thumb {
  background: #37d459; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #5af76f; /* Hover effect on thumb */
}
